body {
	width: 100vw;
	height: 100vh;
	background: url('https://postimg.cc/gLHsNgHm');
	background-attachment: fixed;
	background-size: cover;
}
class {
	font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
	
		margin-top:0px;
		margin-bottom:0px;
		padding-top:0px;
		padding-bottom:0px;
		color: white;
	
	}
	a:link{
		text-decoration:underline;
		color:black;
	}
	a:visited{
		text-decoration:none;
		color:Gold;
	}
	a:hover{
		text-decoration:underline;
		color:black;
	}
	hr{
		height:1px;
		color:black;
		border-style:dashed;
		width:100%;
	}
	p{
		margin-left:20px;
		margin-right:20px;
	}